
*{
  background-color: #1d5643;
}
#main{
  margin: 34px;
  border: 5px inset black;
  width: 200px;
  color: #1a2412;
 
}
#btn{
  margin-left:50px;
  
}

#value{
  margin-left:88.6px ;
}
#head{
 margin-left: 40px;
  height: 3px;
  
}
#outer{
  margin-left: 29%;
  
  
}